body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('img/Imagen_fondo.png');
    background-size: cover;
    background-position: center;
}

#map-container {
    width: 100%;
    min-height: 400px;
}

#logo {
    max-width: 60px;
}

#user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#user-name {
    color: white;
    font-size: 16px;
}
