/* General */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/Imagen_fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Container */
.container {
    width: 750px;
    margin: 2em auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 0px;
    margin-top:100px;
}

#map-container {
    border: 5px solid blue;
    border-radius: 8px;
    margin-top: 1em;
    overflow: hidden;
    width: 100%; /* Ancho completo */
    min-height: 400px; /* Altura mínima */
}

#map {
    height: 400px;
    width: 100%;
}

@media (min-width: 750px) {
    #map {
        height: 400px;
    }
}

/* Navbar */
#navbar {
    background: linear-gradient(to right, white, blue, red); /* Gradiente de colores */
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 30px;
    
}


#logo-container {
    flex: 0 1 auto;
    margin-left: 20px;
    margin-right: 20PX;
}

#logo {
    max-width: 60px; /* Aumenta el ancho máximo del logo */
    height: auto; /* Mantiene la proporción del logo */
}



/* Menú desplegable 
#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* Oculto por defecto *
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    
}

.visible {
    display: flex; /* Muestra el menú 
}

.hidden {
    display: none; /* Oculta el menú 
}

Opciones del menú 
#menu li {
    padding: 10px;
}

#menu li a {
    text-decoration: none;
    color: #1AAB8A;
}
*/
#menu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 40%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px;
    z-index: 1001;
}



.menu-icon {
    font-size: 40px;
    cursor: pointer;
    color: white;

   
}

.menu-icon img {
    width: 40px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción */
}

#menu.visible {
    display: block; /* Muestra el menú cuando tiene la clase visible */
}


#menu li {
    padding: 8px;
    text-align: right;
}

#menu li a {
    text-decoration: none;
    color: #1AAB8A;
}

/* Estilo para el contenedor del usuario */
#user-info {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    gap: 10px; /* Espacio entre la foto y el nombre */
}

/* Estilo para la foto del usuario */
#user-photo {
    width: 40px; /* Ajusta el tamaño según lo necesario */
    height: 40px; /* Asegúrate de que la foto sea cuadrada */
    border-radius: 50%; /* Hace la foto circular */
}

/* Estilo para el nombre del usuario */
#user-name {
    color: white; /* Cambia el color del texto según lo necesites */
    font-size: 16px; /* Ajusta el tamaño del texto */
}


/* Botones */
/* Botones */
button {
    background: #1c1aab;
    color: #fff;
    border: none;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    position: relative; /* Asegúrate de que el botón tenga posición relativa */
    overflow: hidden; /* Asegúrate de que los pseudo-elementos no se salgan del botón */
    transition: background 800ms ease;
}

button:hover {
    background: #fff;
    color: #1a5eab;
}

button:before, button:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background: #e43116;
    transition: width 400ms ease;
}

button:hover:before, button:hover:after {
    width: 100%;
    transition: width 800ms ease;
}

/* Pseudo-elemento antes */
button:before {
    top: 0; /* Coloca el pseudo-elemento en la parte superior */
    left: 0; /* Inicia desde la izquierda */
}

/* Pseudo-elemento después */
button:after {
    bottom: 0; /* Coloca el pseudo-elemento en la parte inferior */
    right: 0; /* Inicia desde la derecha */
}

