body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('img/FondoGps.jpg');
    background-size: cover;
    background-position: center;
}

#map-container {
    width: 100%;
    min-height: 400px;
}

#map {
    height: 100%;
    min-height: 400px; /* Asegura una altura mínima para el contenedor del mapa */
    width: 100%;
}

#logo {
    max-width: 60px;
}
